.settings/
build/
venv/
__pycache__/
.project
.pydevproject
*.egg-info
**.pyc
.vscode/
.DS_Store
captcha.jpg
downloads/
screenshots/
.releases
Pipfile*
*.csv
*.log
Error*.*
None
errors/terminal_log.txt
*.pptx